node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

/android/
/ios/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.env
.env.*
!.env.example

coverage/
*.tsbuildinfo
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
*.orig.*
